.responsive {
  width: 100%;
  height: auto
}

.zooom {
  cursor: zoom-in
}

@-webkit-keyframes zooom-fade {
  0% {
    opacity: 0
  }
}

@keyframes zooom-fade {
  0% {
    opacity: 0
  }
}

#zooom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  cursor: zoom-out;
  animation: zooom-fade .3s
}

.zooom-img,
.zooom-wrap {
  position: relative;
  z-index: 999;
  cursor: zoom-out;
  transition: all .3s
}